.rsvp-button {
    &--yes {
        background: green;
    }
    &--no {
        background: red;
    }
    &--maybe {
        background: yellow;
    }
    &--unselected {
        opacity: 0.5;
    }
}
