/* RGB */
$palette-orange: rgba(218, 133, 90, 1);
$palette-purple: lighten(rgba(61, 58, 95, 1), 40%);
$palette-red: rgba(195, 49, 73, 1);
$palette-green: rgba(168, 194, 86, 1);
$palette-off-white: rgba(243, 217, 177, 1);

// TODO: get scss import working

@mixin button-gradient($btm-color: #ffce80, $top-color: #FFF5D7) {
    background-image: linear-gradient($top-color, $btm-color);

    &:hover {
        background-image: linear-gradient(darken($top-color, 0%), darken($btm-color, 10%));
    }

    &:active {
        background-image: linear-gradient(darken($top-color, 5%), darken($btm-color, 20%));
    }
    &:focus {
        box-shadow: none;
    }
}

.rsvp-form {
    &__row {
        margin-bottom: 10px;
    }
}

.rsvp-button {
    margin-left: 3px;

    &--yes {
        @include button-gradient($palette-green);
    }
    &--no {
        @include button-gradient($palette-red);
    }
    &--maybe {
        @include button-gradient($palette-orange);
    }
    &--submit {
        @include button-gradient($palette-purple);
    }
    &--unselected {
        opacity: 0.35;
    }
}
