/* Coolors Exported Palette - coolors.co/da855a-3d3a5f-c33149-a8c256-f3d9b1 */

///* HSL */
//$color1: hsla(20%, 63%, 60%, 1);
//$color2: hsla(245%, 24%, 30%, 1);
//$color3: hsla(350%, 60%, 48%, 1);
//$color4: hsla(74%, 47%, 55%, 1);
//$color5: hsla(36%, 73%, 82%, 1);

/* RGB */
$palette-orange: rgba(218, 133, 90, 1);
$palette-purple: rgba(61, 58, 95, 1);
$palette-red: rgba(195, 49, 73, 1);
$palette-green: rgba(168, 194, 86, 1);
$palette-off-white: rgba(243, 217, 177, 1);
