html, body {
    height: 100%;
    margin: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.save-the-date {
    &__container {
        box-sizing: border-box;
        background-color: antiquewhite;
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: 100%;
        min-height: 100%;
    }
    &__header {
        box-sizing: border-box;
        background-color: black;
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        height: 400px;
        margin: 0 2rem;
        border: 5px solid white;
        box-shadow: 0 0 8px rgba(0,0,0,.4);
        -moz-box-shadow: 0 0 8px rgba(0,0,0,.4);
        -webkit-box-shadow: 0 0 8px rgba(0,0,0,.4);
    }
    &__main {
        justify-self: center;
        margin: 5%;
        display: flex;
        flex-direction: row;
    }
    &__text-area {
        margin: 2rem 0;
        text-align: center;
        width: 400px;
    }
}
