html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

// breakpoint: 760px ?

@media (max-width: 870px) {
    .save-the-date__image {
        display: none;
    }
}

.save-the-date {
    &__container {
        //background: url("../images/background.png");
        background-size: cover;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: 100%;
        min-height: 100%;
    }
    &__header {
        box-sizing: border-box;
        background-color: black;
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        height: 500px;
        margin: 0 2rem;
        border: 5px solid white;
        box-shadow: 0 0 8px rgba(0,0,0,.4);
        -moz-box-shadow: 0 0 8px rgba(0,0,0,.4);
        -webkit-box-shadow: 0 0 8px rgba(0,0,0,.4);
    }
    &__main {
        justify-self: center;
        margin: 5%;
        display: flex;
        flex-direction: row;
    }
    &__text-area {
        flex-shrink: 0;
        background-image: linear-gradient(#FFF5D7, #ebe1c6);
        margin: 1rem;
        padding: 1.6rem;
        text-align: center;
        max-width: 300px;
        box-shadow: 0 0 8px rgba(0,0,0,.4);
        -moz-box-shadow: 0 0 8px rgba(0,0,0,.4);
        -webkit-box-shadow: 0 0 8px rgba(0,0,0,.4);
        > * {
            opacity: 0.9;
        }
        &--information {
            font-family: 'Copperplate', sans-serif;
        }
    }
}
