#page-container {
    position: relative;
    min-height: 100vh;
}
$footer-height: 2.0rem;

#content-wrap {
    padding: 1rem 1rem $footer-height;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    font-size: 80%;
    width: 100%;
    height: $footer-height;
    text-align: right;
    padding-right: 30px;
}

//p {
//    margin-bottom: 1.6rem;
//}
